@font-face {
    font-family: 'Victor Mono';
    src: url('./VictorMono/victormono-regular-webfont.woff2') format('woff2'),
         url('./VictorMono/victormono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}