/* @import "./fonts/fonts.css"; */

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

a {
  /* color: rgba(0,0,0,0.7);   */
  color: var(--theme-primary);  
  
  &:visited {
    /* color: rgba(0,0,0,0.6); */
  }
  &:hover {
    text-decoration: underline;
  }
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type='range'] {
  height: 0;
}

button {
  color: #333;
  outline: none;
}

/* custom */

body {
  line-height: 1.7;
}

/* override prism styling */
code, pre, .monospace {
  font-family: "Victor Mono", "Overpass Mono", "Courier New", monospace !important;
}

img {
  width:100%;
  max-width:600px;
}

.container {
  max-width: 1000px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.2em;
  padding-top: 1em;
  line-height: 1.25;
  color: var(--theme-primary);
  opacity: 70%;
}

li {
  margin: 0.7em 0;
}

blockquote {
  border-left: var(--theme-primary) solid 5px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: 'Alegreya', serif;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 5px;
  background: var(--theme-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-primary); 
}